body{
    background-color: #202124 ;
    font-family: 'Poppins', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px;
    background-color: #202124 ;
  }

.logo{
    max-width: 150px;

}
.navlinks{
    display: flex;
    align-items: center;
    
}
.navlinks a{
    color: #EBEFF3;
    text-decoration: none;
    padding-left: 1em;
    font-weight: 700;
    font-size: 20px;
}

.navlinks a.highlight:hover {
    color: #F56D64;
    animation-name: Link;
    animation-duration: 0.5s;
}

a.active {
    color: #7371FC;
}

@keyframes Link {
    from {
        color: #EBEFF3;
    }
    to {
        color: #F56D64;
    }
}
footer{
    
}