body{
    background-color: #202124 ;
    font-family: Poppins;


}

.logo{ position: absolute;
width: 179px;
height: 90px;
left: 50px;
top: 50px;
font-family: 'Modak';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 90px;
color: #7371FC;
}